.landing-Top{
    
    background-size: cover;
/* margin-top: 100px;
margin-bottom: 150px; */
/* padding-top: 80px;
padding-bottom: 150px; */
}


.stackModel-container{
    background-color: rgb(73, 71, 71);
}